@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-image: rgb(31, 125, 162);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;

}
.dice{
    display: block;
    position: relative;
    padding: 10px 180px;
}
h1{
    margin-top: 5%;
    font-size: 36px;
    color: #120808;
}
h3{
    color: #0c0303;
}
.img-dice{
   border-radius: 24px;
   box-shadow: 0px 15px 15px 2px #33333359;
   width: 225px;
   height: 225px;
}
.dice-title{
    color:#15207d;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}
.row{
    display: flex;
}
.col-6{
    width: 50%;
}
button{
    margin-top: 40px;
    cursor: pointer;
    height: 54px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0; 
    font-size: 22px;

}
button:hover{
    color: #c32614;
    background-color: aqua;
}
